#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
h5{
    font-weight: bold;
}
.enbt{
    padding: 10px;
    margin: 10px;
    
}
.book{
    cursor: pointer;
}
.modal-body{
    text-align: center;
}
.img_modal{
    display: inline-block;
}